<div class="container">
    <form class="form-signin" role="form">
        <div data-loader="loading"></div>
        <h2 class="form-signin-heading">{{ 'LBL_LOGIN' | i18n }}</h2>
        <input type="text" class="form-control" placeholder="{{ 'LBL_EMAIL' | i18n }}" data-ng-model="email">
        <input type="password" class="form-control" placeholder="{{ 'LBL_PASSWORD' | i18n }}" data-ng-model="password">
        <button class="btn btn-large btn-primary" data-ng-click="authenticate()">{{ 'LBL_ENTER' | i18n }}</button>
    </div>
</div>