<div class="page">
    <div id="pad-wrapper" class="form-page">
        <div class="row header">
            <div class="col-md-12">
                <h3>{{ 'LBL_RESET_PASSWORD' | i18n }}</h3>
            </div>                
        </div>
        <div class="row form-wrapper">
            <div data-loader="vm.loading"></div>
            <div class="col-md-9 with-sidebar">
                <form name="form" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-md-2 control-label">{{ 'LBL_NAME' | i18n }}</label>
                        <div class="col-md-8">
                            <span data-ng-bind="vm.user.name"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-md-2 control-label">{{ 'LBL_EMAIL' | i18n }}</label>
                        <div class="col-md-8">
                            <span data-ng-bind="vm.user.email"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-md-2 control-label">{{ 'LBL_NEW_PASSWORD' | i18n }}</label>
                        <div class="col-md-8">
                            <input type="password" class="form-control" id="inputPassword" data-ng-model="vm.user.password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPasswordConfirmation" class="col-md-2 control-label">{{ 'LBL_PASSWORD_CONFIRMATION' | i18n }}</label>
                        <div class="col-md-8">
                            <input type="password" class="form-control" name="inputPasswordConfirmation" data-ng-model="vm.user.passwordConfirmation" data-wt-match="inputPassword" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <button type="submit" class="btn btn-default" data-ng-click="vm.save()" data-ng-disabled="!form.$valid">{{ 'LBL_UPDATE' | i18n }}</button>
                            <button type="submit" class="btn btn-default" data-ng-click="vm.goBack()">{{ 'LBL_CANCEL' | i18n }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>    
    </div>
</div>