<div class="page">
    <div id="pad-wrapper" class="form-page">
        <div class="row header">
            <div class="col-md-12">
                <h3>{{ 'LBL_USER' | i18n }}</h3>
            </div>                
        </div>
        <div class="row form-wrapper">
            <div data-loader="vm.loading"></div>
            <div class="col-md-9 with-sidebar">
                <form name="form" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="inputName" class="col-md-2 control-label">{{ 'LBL_NAME' | i18n }}</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="inputName" data-ng-model="vm.user.name" required>
                            <span data-ng-show="form.inputName.$error.required && form.inputName.$dirty">Campo é obrigatório!</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-md-2 control-label">{{ 'LBL_EMAIL' | i18n }}</label>
                        <div class="col-md-8">
                            <input type="email" class="form-control" name="inputEmail" data-ng-model="vm.user.email" required>
                            <span data-ng-show="form.inputEmail.$error.required && form.inputEmail.$dirty">required</span>
                            <span data-ng-show="!form.inputEmail.$error.required && form.inputEmail.$error.email && form.inputEmail.$dirty">invalid email</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputStatus" class="col-md-2 control-label">{{ 'LBL_LANGUAGE' | i18n }}</label>
                        <div class="col-md-8">
                            <select data-ng-model="vm.user.language" required>
                                <option value="">-- {{ 'LBL_SELECT' | i18n }} --</option>
                                <option value="{{language.key}}" data-ng-repeat="language in vm.languages">{{ language.$$term }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" data-ng-show="vm.isNew">
                        <label for="inputPassword" class="col-md-2 control-label">{{ 'LBL_PASSWORD' | i18n }}</label>
                        <div class="col-md-8">
                            <input type="password" class="form-control" id="inputPassword" data-ng-model="vm.user.password" data-ng-disabled="!vm.isNew" required>
                        </div>
                    </div>
                    <div class="form-group" data-ng-show="vm.isNew">
                        <label for="inputPasswordConfirmation" class="col-md-2 control-label">{{ 'LBL_PASSWORD_CONFIRMATION' | i18n }}</label>
                        <div class="col-md-8">
                            <input type="password" class="form-control" name="inputPasswordConfirmation" data-ng-model="vm.user.passwordConfirmation" data-wt-match="inputPassword" data-ng-disabled="!vm.isNew" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputStatus" class="col-md-2 control-label">{{ 'LBL_STATUS' | i18n }}</label>
                        <div class="col-md-8">
                            <select data-ng-model="vm.user.status" required>
                                <option value="">-- {{ 'LBL_SELECT' | i18n }} --</option>
                                <option value="{{status.key}}" data-ng-repeat="status in vm.statusList">{{ status.$$term }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <button type="submit" class="btn btn-default" data-ng-click="vm.save()" data-ng-disabled="!form.$valid" data-ng-bind="vm.saveLabel"></button>
                            <button type="submit" class="btn btn-default" data-ng-click="vm.remove()" hide data-ng-hide="isNew">{{ 'LBL_DELETE' | i18n }}</button>
                            <button type="submit" class="btn btn-default" data-ng-click="vm.resetPassword()" hide data-ng-hide="isNew">{{ 'LBL_RESET_PASSWORD' | i18n }}</button>
                            <button type="submit" class="btn btn-default" data-ng-click="vm.goBack()">{{ 'LBL_CANCEL' | i18n }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>    
    </div>
</div>