<div class="page">
    <div id="pad-wrapper" class="users-list">
        <div class="row header">
            <h3>{{ 'LBL_USERS' | i18n }}</h3>
            <div class="col-md-10 col-sm-12 col-xs-12 pull-right">
                <input type="text" class="col-md-5 search" placeholder="{{ 'MSG_TYPE_SEARCH_TERM' | i18n }}" data-ng-model="vm.searchTerm">
                <div class="ui-dropdown">
                    <div class="head">
                        {{ 'LBL_FILTER' | i18n }}
                    </div>
                </div>
                
                <a data-ng-click="base.goTo('/user');" class="btn-flat success pull-right">
                    <span>+</span>
                    {{ 'LBL_NEW_USER' | i18n }}
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
<!--                <div data-loader="loading"></div>-->
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-4 sortable" data-ng-click="vm.sort('name')">{{ 'LBL_NAME' | i18n }}</th>
                            <th class="col-md-4 sortable" data-ng-click="vm.sort('email')">
                                <span class="line"></span>
                                {{ 'LBL_EMAIL' | i18n }}
                            </th>
                            <th class="col-md-4 sortable" data-ng-click="vm.sort('status')">
                                <span class="line"></span>
                                {{ 'LBL_STATUS' | i18n }}
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr data-ng-repeat="user in vm.users | filter : searchTerm" data-ng-click="base.goTo('/user/{{ user.id }}')">
                        <td data-ng-bind="user.name"></td>
                        <td data-ng-bind="user.email"></td>
                        <td data-ng-bind="'LBL_USER_STATUS_' + user.status | i18n"></td>
                        <td></td>
                    </tr>
                </table>
                <data-pager class="pull-right" current-page="{{ vm.currentPage }}" total-pages="{{ vm.totalPages }}" action="vm.showUsers(page)"></data-pager>
            </div>
        </div>
    </div>
</div>
