.loader{
    position:relative;
    width:64px;
    height:64px;
    -moz-transform:scale(0.6);
    -webkit-transform:scale(0.6);
    -ms-transform:scale(0.6);
    -o-transform:scale(0.6);
    transform:scale(0.6);
}

.rotate{
    position:absolute;
    background-color:#FFFFFF;
    height:12px;
    width:12px;
    -moz-border-radius:6px;
    -moz-animation-name:f_fadeG;
    -moz-animation-duration:0.72s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -webkit-border-radius:6px;
    -webkit-animation-name:f_fadeG;
    -webkit-animation-duration:0.72s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -ms-border-radius:6px;
    -ms-animation-name:f_fadeG;
    -ms-animation-duration:0.72s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -o-border-radius:6px;
    -o-animation-name:f_fadeG;
    -o-animation-duration:0.72s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    border-radius:6px;
    animation-name:f_fadeG;
    animation-duration:0.72s;
    animation-iteration-count:infinite;
    animation-direction:linear;
}

.rotate_01{
    left:0;
    top:26px;
    -moz-animation-delay:0.27s;
    -webkit-animation-delay:0.27s;
    -ms-animation-delay:0.27s;
    -o-animation-delay:0.27s;
    animation-delay:0.27s;
}

.rotate_02{
    left:8px;
    top:8px;
    -moz-animation-delay:0.36s;
    -webkit-animation-delay:0.36s;
    -ms-animation-delay:0.36s;
    -o-animation-delay:0.36s;
    animation-delay:0.36s;
}

.rotate_03{
    left:26px;
    top:0;
    -moz-animation-delay:0.45s;
    -webkit-animation-delay:0.45s;
    -ms-animation-delay:0.45s;
    -o-animation-delay:0.45s;
    animation-delay:0.45s;
}

.rotate_04{
    right:8px;
    top:8px;
    -moz-animation-delay:0.54s;
    -webkit-animation-delay:0.54s;
    -ms-animation-delay:0.54s;
    -o-animation-delay:0.54s;
    animation-delay:0.54s;
}

.rotate_05{
    right:0;
    top:26px;
    -moz-animation-delay:0.63s;
    -webkit-animation-delay:0.63s;
    -ms-animation-delay:0.63s;
    -o-animation-delay:0.63s;
    animation-delay:0.63s;
}

.rotate_06{
    right:8px;
    bottom:8px;
    -moz-animation-delay:0.72s;
    -webkit-animation-delay:0.72s;
    -ms-animation-delay:0.72s;
    -o-animation-delay:0.72s;
    animation-delay:0.72s;
}

.rotate_07{
    left:26px;
    bottom:0;
    -moz-animation-delay:0.81s;
    -webkit-animation-delay:0.81s;
    -ms-animation-delay:0.81s;
    -o-animation-delay:0.81s;
    animation-delay:0.81s;
}

.rotate_08{
    left:8px;
    bottom:8px;
    -moz-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -o-animation-delay:0.9s;
    animation-delay:0.9s;
}

@-moz-keyframes f_fadeG{
    0%{
        background-color:#000000}

    100%{
        background-color:#FFFFFF}

}

@-webkit-keyframes f_fadeG{
    0%{
        background-color:#000000}

    100%{
        background-color:#FFFFFF}

}

@-ms-keyframes f_fadeG{
    0%{
        background-color:#000000}

    100%{
        background-color:#FFFFFF}

}

@-o-keyframes f_fadeG{
    0%{
        background-color:#000000}

    100%{
        background-color:#FFFFFF}

}

@keyframes f_fadeG{
    0%{
        background-color:#000000}

    100%{
        background-color:#FFFFFF}

}