<div class="login">
    <div class="header">
        <div class="logo"></div>
        <div class="title"><h1>WebTree</h1></div>
    </div>
    <div class="box">
        <div class="content">
            <form class="form-signin" role="form">
                <div data-loader="loading"></div>
                <h2 class="form-signin-heading">{{ 'LBL_LOGIN' | i18n }}</h2>
                <input class="form-control" type="text" placeholder="{{ 'LBL_EMAIL' | i18n }}" data-ng-model="vm.email">
                <input class="form-control" type="password" placeholder="{{ 'LBL_PASSWORD' | i18n }}" data-ng-model="vm.password">
                <button class="btn btn-large btn-primary" data-ng-click="vm.authenticate()">{{ 'LBL_ENTER' | i18n }}</button>
            </div>
        </div>
    </div>    
</div>
